@model DemoDB2.Models.Cart
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">


    <h2 style="padding-top:40px">Giỏ Hàng</h2>
    <a href="@Url.Action("ProductList", "Products")"> Tiếp tục Mua hàng</a>
    @if (Model != null)
    {
        <div class="container">
            <table class="table-bordered border border-0">
                <thead style="text-align:center; font-size:large;">
                    <tr>
                        <th style="width: 15.88022%;text-align: center;">Hình</th>
                        <th style="width: 46.27949%;">Tên Sản phẩm</th>
                        <th style="width: 15.4265%;text-align: center;">Số lượng</th>
                        <th style="width: 10.43557%;text-align: center;">Giá</th>
                        <th style="width: 12.70417%;text-align: center;">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        decimal total = item._quantity * (decimal)item._product.Price.Value;
                        <tr>
                            <td style="width: 15.88022%;text-align: center;"><img src="~/img/@item._product.ImagePro " style="width:100%;height:110px;object-fit:cover;" /></td>
                            <td style="width: 46.27949%;text-align:center">@Html.DisplayFor(model => item._product.NamePro)</td>
                            <td style="width:15.4265%;text-align: center;">
                                @using (Html.BeginForm("Update_Cart_Quantity", "ShoppingCart"))
                                {
                                    <input type="hidden" value="@item._product.ProductID" name="idPro" />
                                    <input type="number" value="@item._quantity" name="carQuantity" style="text-align:right" id="soluong"/>
                                    <input type="submit" value="Cập nhật" id="updatesoluong" disabled/>
                                }
                            </td>
                            <td style="width: 10.43557%;text-align: center;">@total.ToString("#,##0").Replace(',', '.') $</td>
                            <td style="width: 12.70417%;text-align: center;"><a href="/ShoppingCart/RemoveCart/@item._product.ProductID" class="btn btn-danger">Xóa</a></td>

                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" align="center">
                            <br />
                            (Hãy đăng ký KH nếu chưa đăng ký)
                            <a href="@Url.Action("Create", "Customers")" class="btn btn-success">Đăng ký</a>
                        </td>
                        <td colspan="3" style="text-align:right; font-size:x-large; color: crimson;">
                            Tổng tiền : @Model.Total_money().ToString("#,##0").Replace(',', '.') $
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <br />
                            <h4>-------------------THÔNG TIN ĐƠN HÀNG</h4>
                            @using (Html.BeginForm("CheckOut", "ShoppingCart"))
                            {
                                <table style="border-collapse:separate; border-spacing:5px;">
                                    <tr>
                                        <td></td>
                                        <td><input type="hidden" name="CodeCustomer" value="@Session["IDCus"]" required /></td>
                                    </tr>
                                    <tr>
                                        <td> Khách hàng : </td>
                                        <td><input id="namecus" type="text" name="NameCustomer" value="@Session["NameCus"]" required /></td>
                                    </tr>
                                    <tr>
                                        <td> Điên thoại : </td>
                                        <td><input type="text" name="PhoneCustomer" value="@Session["PhoneCus"]" required /></td>
                                    </tr>
                                    <tr>
                                        <td> Địa chỉ giao hàng : </td>
                                        <td> <input type="text" name="AddressDeliverry" required /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a href="@Url.Action("LoginCus", "Customers")" class="btn btn-primary" id="dangnhapshowcart">Đăng nhập</a>
                                            (Hãy đăng nhập trước)
                                            <input type="submit" value="Thanh toán" class="btn btn-danger" />
                                           @*@Url.Action("CheckOut_Success", "ShoppingCart", new { cart = Model.Items }))*@
                                        </td>
                                    </tr>
                                </table>
                            }
                        </td>
                        <td colspan="3"></td>
                    </tr>
                </tfoot>
            </table>
</div>
    }
    else
    {
        <h4>Giỏ hàng rỗng ! Xin mời tiếp tục mua hàng</h4>
    }
</div>
