@model DemoDB2.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="detail-item" style="margin-top:30px">
        <div class="container">
            <div class="row">
                <div class="right col-lg-4">
                    <img src="~/img/@Html.DisplayFor(model => model.ImagePro)"style="height: 450px;object-fit: cover;width:100%"     />
                </div>
                <div class="left col-lg-8">
                    <h3>Product detail</h3>
                    <table class="table w-100" style="font-size: 20px;">
                        <thead>
                            <tr>
                                <td>Tên sản phẩm</td>
                                <td>@Html.DisplayFor(model => model.NamePro)</td>
                            </tr>
                            <tr>
                                <td>Mô tả sản phẩm</td>
                                <td>@Html.DisplayFor(model => model.DecriptionPro)</td>
                            </tr>
                            <tr>
                                <td>Giá sản phẩm</td>
                                <td>@Html.DisplayFor(model => model.Price) $</td>
                            </tr>
                            <tr>
                                <td>Loại sản phẩm</td>
                                <td>@Html.DisplayFor(model => model.Category1.NameCate)</td>
                            </tr>
                        </thead>
                    </table>
                    <p style="display: flex;justify-content: end;align-items: center;">
                        <a href="/ShoppingCart/AddToCart/@Html.DisplayFor(model => model.ProductID)" class="btn btn-sm btn-secondary" style=" display: inline-block;margin-right:7px">Mua Ngay</a>
                        @Html.ActionLink("Tiếp tục mua sắm", "Index")
                    </p>
                </div>
            </div>
        </div>
   </div>

