@model DemoDB2.Models.Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center pt-5">Đăng ký tài khoản</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div style="margin-left:38%">@Html.LabelFor(model => model.NameCus, htmlAttributes: new { @class = "control-label col-md-2" })</div>
            <div class="col-lg-3 col-md-3 col-sm-3 m-auto">
                @Html.EditorFor(model => model.NameCus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameCus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div style="margin-left:38%"> @Html.LabelFor(model => model.PhoneCus, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="col-lg-3 col-md-3 col-sm-3 m-auto">
                    @Html.EditorFor(model => model.PhoneCus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneCus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div style="margin-left:38%">@Html.LabelFor(model => model.EmailCus, htmlAttributes: new { @class = "control-label col-md-2" })</div>                <div class="col-lg-3 col-md-3 col-sm-3 m-auto">
                    @Html.EditorFor(model => model.EmailCus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailCus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div style="margin-left:38%">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 m-auto">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div style="margin-left:38%"> @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="col-lg-3 col-md-3 col-sm-3 m-auto">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-lg-3 col-md-3 col-sm-3 m-auto">
                    <input type="submit" value="Create" class="btn btn-default" style=" padding: 8px 14px; font-size: 13px; font-weight: 500; background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%); background-size: 200%; border: 1px solid transparent; transition: all .5s; border-radius: 30px; color: #fff; cursor: pointer; outline: 0; text-transform: uppercase; line-height: 1.2;"/>
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
